* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #212843;
  color: #1f2a44;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  background: #d4af37;
  padding: 8px 12px;
  border-radius: 50%;
  font-weight: bold;
}

.name {
  color: #f1e8d7;
  font-style: italic;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #ddd;
  padding: 5px 12px;
  border-radius: 20px;
}

.menu a.active {
  background: #8a817c;
  color: white;
}
/*HALAMAN 1
/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

/* CARD */
.card {
  background: #f1e8d7;
  padding: 40px;
  border-radius: 20px;
  width: 50%;
  box-shadow: 10px 10px 0px #212843;
  border: 2px solid #212843;
}

.card h1 {
  font-size: 60px;
  font-weight: 900;
}

.card h2 {
  font-size: 45px;
  font-family: serif;
  margin-top: 10px;
}

.card p {
  margin-top: 15px;
  font-size: 20px;
}

.social {
  margin-top: 30px;
  font-size: 40px;
}

/* PROFILE */
.profile {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 25px;
  color: white;
}
/*HALAMAN 2 */
/* ABOUT FULL CENTER */
.about {
  min-height: 100vh;
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TEXT ATAS */
.about-top {
  max-width: 800px;
  text-align: center;
  margin-bottom: 80px;
}

.about-top h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #d6cdbd;
}

.about-top p {
  font-size: 24px;
  line-height: 1.9;
  color: #f1e8d7;
}

/* SKILLS */
.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h2 {
  background: #d6cdbd;
  padding: 10px 40px;
  border-radius: 40px;
  margin-bottom: -25px;
  z-index: 2;
}

/* SKILL ROW (capsule panjang) */
.skills-row {
  background: #d6cdbd;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 80%;
}
.skills-row {
  max-width: 700px;
  margin: 0 auto;
  flex-wrap: wrap;
}
/* ITEM */
.skill-box {
  background: transparent;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
}


/* MOBILE */
@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 0 20px;
  }

  .card {
    width: 100%;
    box-shadow: 5px 5px 0px #2d3e75;
  }

  .card h1 { font-size: 35px; }
  .card h2 { font-size: 28px; }
  .card p { font-size: 16px; }

  .profile {
    width: 200px;
    height: 200px;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #111;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  }
